html, .App{
  background: #0d0d0d;
}

*{
  box-sizing: border-box;
}

.movie-wrapper{
   margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 12px;
  border-radius: 12px;
}

.movie-wrapper:hover{
  transition: .3s ease;
  background: #fff;
}

.movie-wrapper:hover .title{
  color: #000;
  transition: .3s ease;
}

.movie{
  float: left;
  max-height: 500px;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

img{
  width: 100%;
  height: 100%;
  float: left;
}

h3{
  margin-bottom: 10px;
  color: #fff;
}

.title{
  color: #fff;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  max-width: 100%;
  word-wrap: normal;
  width: 100%;
  display: block;
  overflow: hidden;
}